body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden;
    background-color: #0B1635;
}

@font-face {
    font-family: ldl-ss;
    src: url(fonts/mengnajianchaoganghei.otf);
}

.ldl-ss-page {
    font-family: Arial, "Microsoft YaHei", "微软雅黑", sans-serif;
}

.ldl-ss-text-orange {
    color: #FF7E00;
}
