.ss-slide.slide-1 {
    background-color: #0B1635;
}

.slide-1-orange {
    color: #FF7E00;
}

.slide-1.slide-1-text {
    font-size: 1.2em;
    color: white;
    text-align: left;
    position: absolute;
    top: 70%;
    left: 10%;
}

.slide-1-text-1, .slide-1-text-2 div {
    margin-bottom: 0.3em;
}

.slide-1-text-1, .slide-1-text-2 {
    opacity: 0.0;
}

.slide-1-sky {
    position: absolute;
    width: 90%;
    left: 105%;
}

.slide-1-foot {
    position: absolute;
    width: 56.4%;
    top: 20%;
    left: -60%;
}