body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden;
}

.slide-0 {
    background: red;
    top: 0px;
    left: 0px;
}

.slide-1 {
    background: green;
    top: 100%;
    left: 0px;
}

.slide-2 {
    background: blue;
    top: 200%;
    left: 0px;
}
